[credential]
	helper = osxkeychain
[user]
	email = jake@jarv.is
	name = Jake Jarvis
	signingkey = 3BC6E5776BF379D36F6714802B0C9CF251E69A39
[gpg]
	program = /usr/local/MacGPG2/bin/gpg
[commit]
	gpgsign = true
[push]
	default = current
[core]
	editor = nano
	excludesfile = ~/.gitignore_global
[github]
	user = jakejarvis
[pull]
	rebase = true
[hub]
	host = github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
