npm config set registry "https://registry.npmjs.com/"
npm config set loglevel="warn"
npm config set send-metrics=false
npm config set save=true
npm config set editor="nano"

npm config set init-author-name "Jake Jarvis"
npm config set init-author-email "jake@jarv.is"
npm config set init-author-url "https://jarv.is/"
npm config set init-license "MIT"
npm config set init-version "0.0.1"
